body {
  position: relative;
  max-width: 1440px;
}
header {
  margin-right: 150px;
  margin-left: 150px;
}

.login-section {
  margin-top: 150px !important;
  margin: auto;
  width: 33%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.login-section h2 {
  align-self: center;
  padding-bottom: 37px;
}
.login-section input {
  width: 100%;
  height: 51px;
  align-self: center;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}
.login-section input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
.login-section > a {
  text-decoration: underline;
  align-self: center;
}
footer {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer p {
  padding-right: 107px;
}
